body {
    padding: 0;
    text-align: center;
    align-items: center;
    }

    #canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  .game-intro {
    float: center;
    padding: 8% 8%;
    background-image: url('Assets/Estadio.jpg');
    background-size: 100%;
  }

  #restart {
    position: absolute;
    transform: translate(43vw, 46vh);
    }
  
  .game-intro p {
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;    
  }
  
  .intro-img {
    height: 350px;
    align-items: center;
  }
  
  .arrows-img {
    width: 100px;
  }
  
  body button {
    font-size: 30px;
    background-color: #1a9f00;
    color: #ffffff;
    padding: 12px 40px;
    border: 30px;
    box-shadow: 10px, 10px;
    box-shadow: #9b9b9b;
    border-radius: 20px;
  }

  #Loosemessage {
    position: absolute;
    top: 33%;
    left: 43%;
    font-size: 40px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  #Winmessage {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 20%;
    left: 31%;
    font-size: 40px;
    color: #000000;
  }
